HotelReservationSystemJavaSeClient/src/META-INF/wsdl/localhost_8080/PartnerEntityWebService/PartnerEntityWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.session.ejb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.session.ejb/" name="PartnerEntityWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.session.ejb/" schemaLocation="http://localhost:8080/PartnerEntityWebService/PartnerEntityWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="allocationReportCheckTimerManual">
<part name="parameters" element="tns:allocationReportCheckTimerManual"/>
</message>
<message name="allocationReportCheckTimerManualResponse">
<part name="parameters" element="tns:allocationReportCheckTimerManualResponse"/>
</message>
<message name="UnknownPersistenceException">
<part name="fault" element="tns:UnknownPersistenceException"/>
</message>
<message name="retrieveRoomTypeAvailabilities">
<part name="parameters" element="tns:retrieveRoomTypeAvailabilities"/>
</message>
<message name="retrieveRoomTypeAvailabilitiesResponse">
<part name="parameters" element="tns:retrieveRoomTypeAvailabilitiesResponse"/>
</message>
<message name="InsufficientRoomsAvailableException">
<part name="fault" element="tns:InsufficientRoomsAvailableException"/>
</message>
<message name="InvalidDateRangeException">
<part name="fault" element="tns:InvalidDateRangeException"/>
</message>
<message name="createNewReservationsForPartner">
<part name="parameters" element="tns:createNewReservationsForPartner"/>
</message>
<message name="createNewReservationsForPartnerResponse">
<part name="parameters" element="tns:createNewReservationsForPartnerResponse"/>
</message>
<message name="CreateNewReservationException">
<part name="fault" element="tns:CreateNewReservationException"/>
</message>
<message name="InputDataValidationException">
<part name="fault" element="tns:InputDataValidationException"/>
</message>
<message name="retrieveAllPartnerReservations">
<part name="parameters" element="tns:retrieveAllPartnerReservations"/>
</message>
<message name="retrieveAllPartnerReservationsResponse">
<part name="parameters" element="tns:retrieveAllPartnerReservationsResponse"/>
</message>
<message name="PartnerNotFoundException">
<part name="fault" element="tns:PartnerNotFoundException"/>
</message>
<message name="partnerLogin">
<part name="parameters" element="tns:partnerLogin"/>
</message>
<message name="partnerLoginResponse">
<part name="parameters" element="tns:partnerLoginResponse"/>
</message>
<message name="InvalidLoginCredentialException">
<part name="fault" element="tns:InvalidLoginCredentialException"/>
</message>
<portType name="PartnerEntityWebService">
<operation name="allocationReportCheckTimerManual">
<input wsam:Action="http://ws.session.ejb/PartnerEntityWebService/allocationReportCheckTimerManualRequest" message="tns:allocationReportCheckTimerManual"/>
<output wsam:Action="http://ws.session.ejb/PartnerEntityWebService/allocationReportCheckTimerManualResponse" message="tns:allocationReportCheckTimerManualResponse"/>
<fault message="tns:UnknownPersistenceException" name="UnknownPersistenceException" wsam:Action="http://ws.session.ejb/PartnerEntityWebService/allocationReportCheckTimerManual/Fault/UnknownPersistenceException"/>
</operation>
<operation name="retrieveRoomTypeAvailabilities">
<input wsam:Action="http://ws.session.ejb/PartnerEntityWebService/retrieveRoomTypeAvailabilitiesRequest" message="tns:retrieveRoomTypeAvailabilities"/>
<output wsam:Action="http://ws.session.ejb/PartnerEntityWebService/retrieveRoomTypeAvailabilitiesResponse" message="tns:retrieveRoomTypeAvailabilitiesResponse"/>
<fault message="tns:InsufficientRoomsAvailableException" name="InsufficientRoomsAvailableException" wsam:Action="http://ws.session.ejb/PartnerEntityWebService/retrieveRoomTypeAvailabilities/Fault/InsufficientRoomsAvailableException"/>
<fault message="tns:InvalidDateRangeException" name="InvalidDateRangeException" wsam:Action="http://ws.session.ejb/PartnerEntityWebService/retrieveRoomTypeAvailabilities/Fault/InvalidDateRangeException"/>
</operation>
<operation name="createNewReservationsForPartner">
<input wsam:Action="http://ws.session.ejb/PartnerEntityWebService/createNewReservationsForPartnerRequest" message="tns:createNewReservationsForPartner"/>
<output wsam:Action="http://ws.session.ejb/PartnerEntityWebService/createNewReservationsForPartnerResponse" message="tns:createNewReservationsForPartnerResponse"/>
<fault message="tns:CreateNewReservationException" name="CreateNewReservationException" wsam:Action="http://ws.session.ejb/PartnerEntityWebService/createNewReservationsForPartner/Fault/CreateNewReservationException"/>
<fault message="tns:UnknownPersistenceException" name="UnknownPersistenceException" wsam:Action="http://ws.session.ejb/PartnerEntityWebService/createNewReservationsForPartner/Fault/UnknownPersistenceException"/>
<fault message="tns:InputDataValidationException" name="InputDataValidationException" wsam:Action="http://ws.session.ejb/PartnerEntityWebService/createNewReservationsForPartner/Fault/InputDataValidationException"/>
</operation>
<operation name="retrieveAllPartnerReservations">
<input wsam:Action="http://ws.session.ejb/PartnerEntityWebService/retrieveAllPartnerReservationsRequest" message="tns:retrieveAllPartnerReservations"/>
<output wsam:Action="http://ws.session.ejb/PartnerEntityWebService/retrieveAllPartnerReservationsResponse" message="tns:retrieveAllPartnerReservationsResponse"/>
<fault message="tns:PartnerNotFoundException" name="PartnerNotFoundException" wsam:Action="http://ws.session.ejb/PartnerEntityWebService/retrieveAllPartnerReservations/Fault/PartnerNotFoundException"/>
</operation>
<operation name="partnerLogin">
<input wsam:Action="http://ws.session.ejb/PartnerEntityWebService/partnerLoginRequest" message="tns:partnerLogin"/>
<output wsam:Action="http://ws.session.ejb/PartnerEntityWebService/partnerLoginResponse" message="tns:partnerLoginResponse"/>
<fault message="tns:PartnerNotFoundException" name="PartnerNotFoundException" wsam:Action="http://ws.session.ejb/PartnerEntityWebService/partnerLogin/Fault/PartnerNotFoundException"/>
<fault message="tns:InvalidLoginCredentialException" name="InvalidLoginCredentialException" wsam:Action="http://ws.session.ejb/PartnerEntityWebService/partnerLogin/Fault/InvalidLoginCredentialException"/>
</operation>
</portType>
<binding name="PartnerEntityWebServicePortBinding" type="tns:PartnerEntityWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="allocationReportCheckTimerManual">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="UnknownPersistenceException">
<soap:fault name="UnknownPersistenceException" use="literal"/>
</fault>
</operation>
<operation name="retrieveRoomTypeAvailabilities">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InsufficientRoomsAvailableException">
<soap:fault name="InsufficientRoomsAvailableException" use="literal"/>
</fault>
<fault name="InvalidDateRangeException">
<soap:fault name="InvalidDateRangeException" use="literal"/>
</fault>
</operation>
<operation name="createNewReservationsForPartner">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CreateNewReservationException">
<soap:fault name="CreateNewReservationException" use="literal"/>
</fault>
<fault name="UnknownPersistenceException">
<soap:fault name="UnknownPersistenceException" use="literal"/>
</fault>
<fault name="InputDataValidationException">
<soap:fault name="InputDataValidationException" use="literal"/>
</fault>
</operation>
<operation name="retrieveAllPartnerReservations">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="PartnerNotFoundException">
<soap:fault name="PartnerNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="partnerLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="PartnerNotFoundException">
<soap:fault name="PartnerNotFoundException" use="literal"/>
</fault>
<fault name="InvalidLoginCredentialException">
<soap:fault name="InvalidLoginCredentialException" use="literal"/>
</fault>
</operation>
</binding>
<service name="PartnerEntityWebService">
<port name="PartnerEntityWebServicePort" binding="tns:PartnerEntityWebServicePortBinding">
<soap:address location="http://localhost:8080/PartnerEntityWebService/PartnerEntityWebService"/>
</port>
</service>
</definitions>